/* PKMN RBYGSC by David (https://www.dafont.com/pkmn-rbygsc.font) */
@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../font/PKMN_RBYGSC.ttf") format("opentype");
}

html, body, input, ul {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;

  font-family: "PKMN RBYGSC", monospace;
}

ul {
  list-style: none;
}

select::-ms-expand {
  display: none;
}

#App {
  width: 100%;
  height: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #222;
}

.AppContainer {
  min-width: 160px;
  min-height: 144px;
  width: 640px;
  height: 576px;

  display: flex;
  flex-direction: column;
}

.ColorListContainer {
  flex: 1 1 432px;
}

.ColorList {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.Color {
  font-size: 1.5em;

  flex: 1 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PaletteListContainer {
  flex: 0 0 144px;
  margin: 8px;
  padding: 8px;

  line-height: 2em;
}

.PaletteList {
  height: 140px;

  display: flex;
  flex-flow: column wrap;
}

select.PaletteList {
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;

  font-family: 'PKMN RBYGSC', monospace;
}

.Palette {
  flex: 0 0 20px;
}
